[submodule "vendor/pi-mono"]
	path = vendor/pi-mono
	url = https://github.com/badlogic/pi-mono.git
[submodule "vendor/forge-code"]
	path = vendor/forge-code
	url = https://github.com/tailcallhq/forgecode.git
